---
title: Contact
layout: default
bodyClass: page-contact
---
<div style="background-image: url(/{{page.intro_image}});" class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 intro-content col-lg-6 order-2 order-md-1">
        <p>{{ content }}</p>
      </div>
      <!-- {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %} -->
    </div>
  </div>
</div>

<div class="container p-3">
<div class="row">
  <div class="col-12 col-md-6 hbspot-form">
    {% include contactform.html %}
   </div>
   <div class="col-12 col-md-6 address-info">
     <h2>USA</h2>
     <p> {{ site.data.contact.us_office }}</p>
     <p><a href="tel: {{ site.data.contact.phone }}"> {{ site.data.contact.phone_us }} </a></p>
     <div class="line-seperator"></div>
      <h2 class="mt-4">India</h2>
      <p>{{ site.data.contact.india_office }}</p>
      <p><a href="tel: {{ site.data.contact.phone }}"> {{ site.data.contact.phone_in }} </a></p>
      <div class="d-flex email-block">
        <span>Email : </span>
        <a href="mailto: {{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
       </div>
     </div>
</div>
</div>
