---
layout: default
---

<html lang="en">
<head>
    <link href="{{ '/assets/css/style.scss' | relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@5.1.0/dist/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@5.1.0/dist/reveal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js@5.1.0/dist/theme/white.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="reveal">
        <div class="slides">
            {{content}}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/reveal.js@5.1.0/dist/reveal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/reveal.js@5.1.0/plugin/markdown/markdown.js"></script>
    <script>
        Reveal.initialize({
        // plugins: [RevealMarkdown],
        view: "scroll",
        scrollProgress: true,
        viewDistance: 3,
        hash: true,
      });
      
      const texts = ["Vertical AI", "Intelligent Multimodal Experiences", "Agentic Workflows"];
        const staticText = "Engineering expertise meets ";
        const typewriterText = document.querySelector('.typewriter');
        const staticTextElement = document.querySelector('#static-text');
        let currentIndex = 0;

        function typeWriterEffect(text, element, callback) {
            let index = 0;
            const interval = setInterval(() => {
                element.textContent += text.charAt(index);
                index++;
                if (index === text.length) {
                    clearInterval(interval);
                    setTimeout(callback, 1000);
                }
            }, 300);
        }

        function deleteWriterEffect(callback) {
            const text = typewriterText.textContent;
            let index = text.length - 1;
            const interval = setInterval(() => {
                typewriterText.textContent = text.substring(0, index);
                index--;
                if (index < 0) {
                    clearInterval(interval);
                    callback();
                }
            }, 100);
        }

        function loopTypeWriter() {
            typeWriterEffect(texts[currentIndex], typewriterText, () => {
                setTimeout(() => {
                    deleteWriterEffect(() => {
                        currentIndex = (currentIndex + 1) % texts.length;
                        loopTypeWriter();
                    });
                }, 1000);
            });
        }

        typeWriterEffect(staticText, staticTextElement, loopTypeWriter);

         // Modal Script
         const modal = document.getElementById("contact-modal");
        const btn = document.getElementById("get-in-touch");
        const span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
      </script>
</body>
</html>
